:root {
    --text: #404148;
    --background: #d5d9f1;
    --primary: #a0b1c5;
    --secondary: #e5edf8;
    --accent: #194e72;
    --accent-two: #191f71;
    --accent-three: #bc9de2;
    --header: #e3e3e3;
    ;

    --fontbase: 'Syne', sans-serif;
    --fontsec: 'Inter', sans-serif;

    --step--2: clamp(0.70rem, calc(0.95rem + -0.32vw), 0.89rem);
    --step--1: clamp(0.94rem, calc(1.02rem + -0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.27rem, calc(1.13rem + 0.70vw), 1.67rem);
    --step-2: clamp(1.42rem, calc(1.15rem + 1.39vw), 2.22rem);
    --step-3: clamp(1.60rem, calc(1.13rem + 2.36vw), 2.96rem);
    --step-4: clamp(1.80rem, calc(1.06rem + 3.73vw), 3.95rem);
    --step-5: clamp(2.03rem, calc(0.90rem + 5.62vw), 5.26rem);
}

@media (prefers-color-scheme: dark) {
    :root {
    --text: #d5d9f1;
    --background: #100f26;
    --primary: #191f71;
    --secondary: #194e72;
    --accent: #abcbf7;
    --accent-two: #b3becc;
    --accent-three: #bc9de2;
    --header: #0f0f0f;
    }
}

*{box-sizing: border-box;}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
html {
    height: 100%;
    margin: 0px;
    color-scheme: light dark;
    overflow-x: hidden;
}

body {
    color: var(--text);
    font-size: var(--step--1);
    font-family: var(--fontsec);
    line-height: 1.5;
}

h1, h2, h3{
    transition: 0.3s ease-in;
    font-family: var(--fontbase);
    line-height: 1.1;
    color: var(--secondary-button);
}

h1 {
    font-size: var(--step-2);
}

h2 {
    font-size: var(--step-1);
}

h3 {
    font-size: var(--step-0);
}

h1:hover {
    color: var(--accent);
}

h2:hover {
    color: var(--accent-three);
}

h3:hover {
    color: var(--accent-three);
}

p, li {
    font-family: var(--fontsec);
    color: var(--text);
}

.wrapper {
    z-index: 25;
    width: 98%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    transition: padding-top 0.3s ease-in-out;
}

.imgcont {
    width: 98%;
    margin-inline: auto;
}

.imgcont > h1, h3, p {
    display: flex;
    justify-content: center;
}

p, ul {
  opacity: 0.8;
}

@media only screen and (max-width: 940px) {
    .wrapper {
        display: block;
    }
}

.block {
    display: inline-block;
    width: min(100% - 3rem, 60ch);
    margin: auto;
    height: auto;
}

@media (max-width: 767px) {
  .block {
    display: inline-block;
    width: min(100% - 3rem, 60ch);
    margin: 1rem 0 1rem 1rem ;
    height: auto;
  }
}

footer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.icon > img {
    margin: 13px;
    transition: 0.2s ease-out;
}

.icon > img:hover {
    opacity: 0.6;
    transform: scale(1.07);
}

.links {
    width: 100%;
    margin: 3px;
    padding: 5px;
}

ul, a, li {
    text-decoration: none;
    color: var(--text);
}

nav > ul {
    padding: 0;
    display: flex;
    justify-content: center;
    color: var(--text);
}

nav > ul > li {
    text-align: center;
    margin: 2%;
    transition: 0.2s ease-out;
    width: auto;
    display: inline-block;
    color: var(--text);
}

nav > ul > li:hover {
    opacity: 0.6;
    transform: scale(1.07);
}

.dark {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    padding-top: 2vh;
}

.light {
    display: none
}

@media (prefers-color-scheme: light) {
    .light {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 2vh;
        padding-top: 2vh;
    }
    .dark { display: none; }
    .logoimage.shrink {
        mix-blend-mode: difference;
        opacity: 50%;
    }
}

.logoimage {
    max-width: 15%;
    cursor: pointer;
    transition: all 1s ease-in-out;
} 

.logoimage.shrink {
  width: 60px;
  z-index: 1000;
  opacity: 0.25;
}

.logoimage:hover {
    transform: rotate(360deg);
}

.logotext {
  max-width: 50%;
  position: relative;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
}

@media (max-width: 991px) {
  .canvas {
    grid-template-columns: repeat(2, 1fr); 
  }
  .logoimage.shrink {
    width: 60px;
    z-index: 50;
  }
}

@media (max-width: 767px) {
  .canvas {
    grid-template-columns: repeat(1, 1fr); 
  }
  header {
    height: 100px;
  }
}

.canvas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  filter: brightness(0.88);
  transition: 0.7s ease;
}

.canvas img:hover {
  filter: blur(0px);
  transform: scale(1.02);
  z-index: 10;
}

header {
    background: var(--header);
    color: var(--text);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.logotext, nav, header {
  transition: opacity 0.15s ease-in;
}

.comission {
    position: relative;
    color: var(--text);
}

.jewl::before {
  content: "Deorum Jewellery";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  color: rgb(139, 202, 202);
  transition: all 1s ease-out;
  white-space: nowrap;
  opacity: 80%;
}

.geo::before {
  content: "Austin Education";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  color: rgb(139, 202, 202);
  transition: all 1s ease-out;
  white-space: nowrap;
  opacity: 80%;
}

.comission:hover::before {
  width: 100%;
}
