/* Media player styles -------------------------------------------------- */

.media-player {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
}

.video-container {
	height: auto;
	overflow: hidden;
	border-radius: 12px;
	width: 100%;
	margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Small helpers */
.caption {
	font-size: 1rem;
	color: #ffffff; 
	text-align: center;
	margin-bottom: 0.5rem;

}

iframe {
    border: 2px solid white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
