.social {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.social-link > li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
}

.social-link {
    margin: 1rem;
    padding: 0.5rem;
    transition: transform 0.3s ease;
}

.social-link:hover {
    transform: translateY(-5px);
}

.social-links a { 
    margin-top: 0.2rem;
    width: 21px
}