/* using global color variables from :root */

.site-root {
  min-height: auto;
  background: rgba(2, 10, 25, 0.85);
  color: var(--text);
  overflow: hidden;
} 

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

main { 
  padding-bottom: 4rem; 
  height: auto; 
}

.logo {
  height: 3.5rem;
  padding: 0.5rem;
}
.logo:hover { filter: drop-shadow(0 0 1.8em rgba(199,179,255,0.12)); }

.site-root, #main {
  position: relative; 
  width: 100%;
}

/*----------------------------------------------------------------------------------------------*/

.parallax-bg {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 250vh; 
  background: url("/src/assets/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}

.parallax-gradient {
  overflow: hidden;
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1; /* Sit above images, below text/footer content */
  background: linear-gradient(
    to bottom,
    rgba(199, 182, 232, 0) 0%,
    rgb(16, 8, 40) 50%
  );
  will-change: transform;
}